   
        .div {
            background-color: #fff;
            display: flex;
            flex-direction: column;
        }

        .div-2 {
            justify-content: center;
            background-color: #f7f3f2;
            display: flex;
            width: 100%;
            flex-direction: column;
        }

        @media (max-width: 991px) {
            .div-2 {
                max-width: 100%;
            }
        }

        .div-3 {
            disply: flex;
            flex-direction: column;
            overflow: hidden;
            position: relative;
            display: flex;
            min-height: 2948px;
            width: 100%;
            padding-bottom: 50px;
        }

        @media (max-width: 991px) {
            .div-3 {
                max-width: 100%;
            }
        }

        .img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        .div-4 {
            position: relative;
            box-shadow: 0px 0px 0px 1.125px rgba(255, 255, 255, 0.16),
                0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
                0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
            background-color: rgba(0, 0, 0, 0.75);
            align-self: stretch;
            display: flex;
            width: 100%;
            flex-direction: column;
        }

        @media (max-width: 991px) {
            .div-4 {
                max-width: 100%;
            }
        }

        .div-5 {
            disply: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            position: relative;
            display: flex;
            min-height: 364px;
            width: 100%;
            padding-bottom: 50px;
        }

        @media (max-width: 991px) {
            .div-5 {
                max-width: 100%;
            }
        }

        .div-6 {
            position: relative;
            align-items: center;
            background: linear-gradient(0deg,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 0.1) 100%);
            display: flex;
            min-height: 48px;
            width: 100%;
            flex-direction: column;
        }

        @media (max-width: 991px) {
            .div-6 {
                max-width: 100%;
            }
        }

        .div-7 {
            position: relative;
            align-self: center;
            display: flex;
            width: 847px;
            max-width: 100%;
            flex-direction: column;
            align-items: start;
            margin: 54px 0 41px;
            padding: 0 20px;
        }

        @media (max-width: 991px) {
            .div-7 {
                margin: 40px 0;
            }
        }

        .div-8 {
            justify-content: center;
            color: #fff;
            align-self: stretch;
            margin-right: -20px;
            white-space: nowrap;
            font: 700 34px/67.5px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-8 {
                max-width: 100%;
                white-space: initial;
            }
        }

        .div-9 {
            justify-content: center;
            color: #e5e0df;
            align-self: stretch;
            margin: 21px -20px 0 0;
            font: 400 18px/29px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-9 {
                max-width: 100%;
            }
        }

        .div-10 {
            justify-content: center;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            border-radius: 6.75px;
            box-shadow: 0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
                0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
            background-color: #007ebd;
            margin-top: 9px;
            width: 86px;
            max-width: 100%;
            padding: 12px 16px;
            font: 700 14px/29px Inter, sans-serif;
            /* 移除底線 */
            text-decoration: none; 
            /* 轉場動畫時間 */
            transition: .5s;
        }

        /* hover樣式 */
        .div-10:hover{
          background-color: #043c57;  
        }



        @media (max-width: 991px) {
            .div-10 {
                white-space: initial;
                padding-right: -1px;
            }
        }

        .div-11 {
            position: relative;
            border-radius: 13.5px;
            box-shadow: 0px 0px 0px 1.125px rgba(255, 255, 255, 0.64),
                0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
                0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
            background-color: rgba(255, 255, 255, 0.75);
            align-self: center;
            margin-top: 32px;
            width: 990px;
            max-width: 100%;
            padding: 50px 80px 50px 68px;
        }

        @media (max-width: 991px) {
            .div-11 {
                padding: 0 20px;
            }
        }

        .div-12 {
            gap: 20px;
            display: flex;
        }

        @media (max-width: 991px) {
            .div-12 {
                flex-direction: column;
                align-items: stretch;
                gap: 0px;
            }
        }

        .column {
            display: flex;
            flex-direction: column;
            line-height: normal;
            width: 36%;
            margin-left: 0px;
        }

        @media (max-width: 991px) {
            .column {
                width: 100%;
            }
        }

        .div-13 {
            position: relative;
            display: flex;
            margin-top: 14px;
            flex-direction: column;
        }

        @media (max-width: 991px) {
            .div-13 {
                margin-top: 40px;
            }
        }

        .div-14 {
            justify-content: center;
            color: #000;
            white-space: nowrap;
            font: 700 28px/56px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-14 {
                white-space: initial;
            }
        }

        .div-15 {
            justify-content: center;
            color: #000;
            margin-top: 54px;
            white-space: nowrap;
            font: 700 18px/34px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-15 {
                margin-top: 40px;
                white-space: initial;
            }
        }

        .div-16 {
            color: #272525;
            margin-top: 30px;
            white-space: nowrap;
            font: 400 14px/17px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-16 {
                white-space: initial;
            }
        }

        .div-17 {
            color: #272525;
            margin-top: 15px;
            white-space: nowrap;
            font: 400 14px/17px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-17 {
                white-space: initial;
            }
        }

        .div-18 {
            color: #272525;
            margin-top: 15px;
            white-space: nowrap;
            font: 400 14px/17px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-18 {
                white-space: initial;
            }
        }

        .column-2 {
            display: flex;
            flex-direction: column;
            line-height: normal;
            width: 39%;
            margin-left: 20px;
        }

        @media (max-width: 991px) {
            .column-2 {
                width: 100%;
            }
        }

        .div-19 {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: auto 0;
        }

        @media (max-width: 991px) {
            .div-19 {
                margin-top: 40px;
            }
        }

        .div-20 {
            color: #000;
            white-space: nowrap;
            font: 700 18px/34px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-20 {
                white-space: initial;
            }
        }

        .div-21 {
            color: #272525;
            margin-top: 33px;
            white-space: nowrap;
            font: 400 14px/17px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-21 {
                white-space: initial;
            }
        }

        .div-22 {
            color: #272525;
            margin-top: 16px;
            white-space: nowrap;
            font: 400 14px/17px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-22 {
                white-space: initial;
            }
        }

        .column-3 {
            display: flex;
            flex-direction: column;
            line-height: normal;
            width: 25%;
            margin-left: 20px;
        }

        @media (max-width: 991px) {
            .column-3 {
                width: 100%;
            }
        }

        .div-23 {
            position: relative;
            display: flex;
            margin-top: 107px;
            flex-direction: column;
        }

        @media (max-width: 991px) {
            .div-23 {
                margin-top: 40px;
            }
        }

        .div-24 {
            color: #000;
            white-space: nowrap;
            font: 700 18px/34px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-24 {
                white-space: initial;
            }
        }

        .div-25 {
            color: #272525;
            margin-top: 27px;
            white-space: nowrap;
            font: 400 14px/17px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-25 {
                white-space: initial;
            }
        }

        .div-26 {
            color: #272525;
            margin-top: 16px;
            white-space: nowrap;
            font: 400 14px/17px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-26 {
                white-space: initial;
            }
        }

        .div-27 {
            color: #272525;
            margin-top: 16px;
            white-space: nowrap;
            font: 400 14px/17px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-27 {
                white-space: initial;
            }
        }

        .div-28 {
            color: #272525;
            margin-top: 15px;
            white-space: nowrap;
            font: 400 14px/17px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-28 {
                white-space: initial;
            }
        }

        .div-29 {
            position: relative;
            border-radius: 13.5px;
            box-shadow: 0px 0px 0px 1.125px rgba(255, 255, 255, 0.64),
                0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
                0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
            background-color: rgba(255, 255, 255, 0.75);
            align-self: center;
            margin-top: 64px;
            width: 990px;
            max-width: 100%;
            padding: 50px 67px 50px 68px;
        }

        @media (max-width: 991px) {
            .div-29 {
                margin-top: 40px;
                padding: 0 20px;
            }
        }

        .div-30 {
            gap: 20px;
            display: flex;
        }

        @media (max-width: 991px) {
            .div-30 {
                flex-direction: column;
                align-items: stretch;
                gap: 0px;
            }
        }

        .column-4 {
            display: flex;
            flex-direction: column;
            line-height: normal;
            width: 68%;
            margin-left: 0px;
        }

        @media (max-width: 991px) {
            .column-4 {
                width: 100%;
            }
        }

        .div-31 {
            position: relative;
            display: flex;
            margin-top: 14px;
            flex-direction: column;
        }

        @media (max-width: 991px) {
            .div-31 {
                max-width: 100%;
                margin-top: 40px;
            }
        }

        .div-32 {
            justify-content: center;
            color: #000;
            white-space: nowrap;
            font: 700 28px/56px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-32 {
                max-width: 100%;
                white-space: initial;
            }
        }

        .div-33 {
            margin-top: 52px;
        }

        @media (max-width: 991px) {
            .div-33 {
                max-width: 100%;
                margin-top: 40px;
            }
        }

        .div-34 {
            gap: 20px;
            display: flex;
        }

        @media (max-width: 991px) {
            .div-34 {
                flex-direction: column;
                align-items: stretch;
                gap: 0px;
            }
        }

        .column-5 {
            display: flex;
            flex-direction: column;
            line-height: normal;
            width: 50%;
            margin-left: 0px;
        }

        @media (max-width: 991px) {
            .column-5 {
                width: 100%;
            }
        }

        .div-35 {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
        }

        @media (max-width: 991px) {
            .div-35 {
                margin-top: 27px;
            }
        }

        .img-2 {
            aspect-ratio: 1.62;
            object-fit: contain;
            object-position: center;
            width: 100%;
            overflow: hidden;
        }

        .div-36 {
            color: #00ff00;
            margin-top: 18px;
            white-space: nowrap;
            font: 700 18px/28px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-36 {
                white-space: initial;
            }
        }

        .column-6 {
            display: flex;
            flex-direction: column;
            line-height: normal;
            width: 50%;
            margin-left: 20px;
        }

        @media (max-width: 991px) {
            .column-6 {
                width: 100%;
            }
        }

        .div-37 {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
        }

        @media (max-width: 991px) {
            .div-37 {
                margin-top: 27px;
            }
        }

        .img-3 {
            aspect-ratio: 1.62;
            object-fit: contain;
            object-position: center;
            width: 100%;
            overflow: hidden;
        }

        .div-38 {
            color: #000;
            margin-top: 18px;
            white-space: nowrap;
            font: 700 18px/28px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-38 {
                white-space: initial;
            }
        }

        .div-39 {
            display: flex;
            margin-top: 18px;
            justify-content: space-between;
            gap: 20px;
        }

        @media (max-width: 991px) {
            .div-39 {
                max-width: 100%;
                flex-wrap: wrap;
            }
        }

        .div-40 {
            color: #272525;
            flex-grow: 1;
            flex-basis: auto;
            font: 400 14px/21px Inter, sans-serif;
        }

        .div-41 {
            color: #272525;
            flex-grow: 1;
            flex-basis: auto;
            font: 400 14px/21px Inter, sans-serif;
        }

        .column-7 {
            display: flex;
            flex-direction: column;
            line-height: normal;
            width: 32%;
            margin-left: 20px;
        }

        @media (max-width: 991px) {
            .column-7 {
                width: 100%;
            }
        }

        .div-42 {
            position: relative;
            display: flex;
            margin-top: 92px;
            flex-direction: column;
        }

        @media (max-width: 991px) {
            .div-42 {
                margin-top: 40px;
            }
        }

        .img-4 {
            aspect-ratio: 1.62;
            object-fit: contain;
            object-position: center;
            width: 100%;
            overflow: hidden;
        }

        .div-43 {
            color: #000;
            margin-top: 18px;
            white-space: nowrap;
            font: 700 18px/28px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-43 {
                white-space: initial;
            }
        }

        .div-44 {
            color: #272525;
            margin-top: 16px;
            font: 400 14px/21px Inter, sans-serif;
        }

        .div-45 {
            position: relative;
            box-shadow: 0px 0px 0px 1.125px rgba(255, 255, 255, 0.64),
                0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
                0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
            background-color: rgba(255, 255, 255, 0.75);
            align-self: stretch;
            display: flex;
            margin-top: 32px;
            width: 100%;
            flex-direction: column;
            align-items: center;
            padding: 18px 20px;
        }

        @media (max-width: 991px) {
            .div-45 {
                max-width: 100%;
            }
        }

        .div-46 {
            width: 904px;
            max-width: 100%;
        }

        .div-47 {
            gap: 20px;
            display: flex;
        }

        @media (max-width: 991px) {
            .div-47 {
                flex-direction: column;
                align-items: stretch;
                gap: 0px;
            }
        }

        .column-8 {
            display: flex;
            flex-direction: column;
            line-height: normal;
            width: 74%;
            margin-left: 0px;
        }

        @media (max-width: 991px) {
            .column-8 {
                width: 100%;
            }
        }

        .div-48 {
            display: flex;
            flex-direction: column;
            margin: auto 0;
        }

        @media (max-width: 991px) {
            .div-48 {
                max-width: 100%;
                margin-top: 40px;
            }
        }

        .div-49 {
            justify-content: center;
            color: #000;
            font: 700 28px/56px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-49 {
                max-width: 100%;
            }
        }

        .div-50 {
            justify-content: center;
            border-radius: 6.75px;
            border: 1px solid #9df;
            background-color: #cef;
            display: flex;
            margin-top: 42px;
            flex-direction: column;
            padding: 27px 30px 27px 18px;
        }

        @media (max-width: 991px) {
            .div-50 {
                max-width: 100%;
                padding-right: 20px;
                margin-top: 40px;
            }
        }

        .div-51 {
            color: #272525;
            white-space: nowrap;
            font: 700 18px/28px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-51 {
                max-width: 100%;
                white-space: initial;
            }
        }

        .div-52 {
            justify-content: center;
            color: #272525;
            margin-top: 17px;
            font: 400 14px/28px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-52 {
                max-width: 100%;
            }
        }

        .div-53 {
            border-radius: 6.75px;
            border: 1px solid #9df;
            background-color: #cef;
            display: flex;
            margin-top: 18px;
            flex-direction: column;
            padding: 27px 30px 27px 18px;
        }

        @media (max-width: 991px) {
            .div-53 {
                max-width: 100%;
                padding-right: 20px;
            }
        }

        .div-54 {
            color: #272525;
            white-space: nowrap;
            font: 700 18px/28px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-54 {
                max-width: 100%;
                white-space: initial;
            }
        }

        .div-55 {
            justify-content: center;
            color: #272525;
            margin-top: 17px;
            font: 400 14px/28px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-55 {
                max-width: 100%;
            }
        }

        .column-9 {
            display: flex;
            flex-direction: column;
            line-height: normal;
            width: 26%;
            margin-left: 20px;
        }

        @media (max-width: 991px) {
            .column-9 {
                width: 100%;
            }
        }

        .img-5 {
            aspect-ratio: 0.41;
            object-fit: contain;
            object-position: center;
            width: 211px;
            overflow: hidden;
            max-width: 100%;
            flex-grow: 1;
        }

        @media (max-width: 991px) {
            .img-5 {
                margin-top: 40px;
            }
        }

        .div-56 {
            position: relative;
            border-radius: 13.5px;
            box-shadow: 0px 0px 0px 1.125px rgba(255, 255, 255, 0.64),
                0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
                0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
            background-color: rgba(255, 255, 255, 0.75);
            align-self: center;
            display: flex;
            margin-top: 32px;
            width: 990px;
            max-width: 100%;
            align-items: start;
            justify-content: space-between;
            gap: 20px;
            padding: 50px 80px 50px 68px;
        }

        @media (max-width: 991px) {
            .div-56 {
                flex-wrap: wrap;
                padding: 0 20px;
            }
        }

        .div-57 {
            display: flex;
            margin-top: 14px;
            flex-grow: 1;
            flex-basis: 0%;
            flex-direction: column;
        }

        .div-58 {
            justify-content: center;
            color: #000;
            white-space: nowrap;
            font: 700 28px/56px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-58 {
                white-space: initial;
            }
        }

        .div-59 {
            color: #000;
            margin-top: 51px;
            white-space: nowrap;
            font: 700 18px/34px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-59 {
                margin-top: 40px;
                white-space: initial;
            }
        }

        .div-60 {
            color: #272525;
            margin-top: 10px;
            white-space: nowrap;
            font: 400 14px/29px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-60 {
                white-space: initial;
            }
        }

        .div-61 {
            color: #272525;
            margin-top: 12px;
            white-space: nowrap;
            font: 400 14px/29px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-61 {
                white-space: initial;
            }
        }

        .div-62 {
            color: #272525;
            margin-top: 14px;
            white-space: nowrap;
            font: 400 14px/29px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-62 {
                white-space: initial;
            }
        }

        .div-63 {
            justify-content: center;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            border-radius: 6.75px;
            box-shadow: 0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
                0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
            background-color: #007ebd;
            margin-top: 28px;
            padding: 12px 16px;
            font: 700 14px/29px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-63 {
                white-space: initial;
                padding-right: -1px;
            }
        }

        .div-64 {
            align-self: center;
            display: flex;
            flex-grow: 1;
            flex-basis: 0%;
            flex-direction: column;
            margin: auto 0;
        }

        .div-65 {
            color: #000;
            white-space: nowrap;
            font: 700 18px/34px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-65 {
                white-space: initial;
            }
        }

        .div-66 {
            color: #007ebd;
            margin-top: 22px;
            white-space: nowrap;
            font: 700 14px/29px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-66 {
                white-space: initial;
            }
        }

        .div-67 {
            color: #007ebd;
            margin-top: 9px;
            white-space: nowrap;
            font: 700 14px/29px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-67 {
                white-space: initial;
            }
        }

        .div-68 {
            color: #007ebd;
            margin-top: 11px;
            white-space: nowrap;
            font: 700 14px/29px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-68 {
                white-space: initial;
            }
        }

        .div-69 {
            position: relative;
            border-radius: 13.5px;
            box-shadow: 0px 0px 0px 1.125px rgba(255, 255, 255, 0.64),
                0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
                0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
            background-color: rgba(255, 255, 255, 0.75);
            align-self: center;
            display: flex;
            width: 990px;
            max-width: 100%;
            flex-direction: column;
            align-items: start;
            margin: 64px 0 22px;
            padding: 50px 80px 50px 68px;
        }

        @media (max-width: 991px) {
            .div-69 {
                margin-top: 40px;
                padding: 0 20px;
            }
        }

        .div-70 {
            justify-content: center;
            color: #000;
            margin-top: 14px;
            white-space: nowrap;
            font: 700 28px/34px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-70 {
                max-width: 100%;
                white-space: initial;
            }
        }

        .div-71 {
            color: #272525;
            margin-top: 19px;
            font: 400 14px/29px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-71 {
                max-width: 100%;
            }
        }

        .div-72 {
            color: #272525;
            margin-top: 25px;
            font: 400 14px/29px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-72 {
                max-width: 100%;
            }
        }

        .div-73 {
            color: #272525;
            margin-top: 25px;
            font: 400 14px/29px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-73 {
                max-width: 100%;
            }
        }

        .div-74 {
            justify-content: center;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            border-radius: 6.75px;
            box-shadow: 0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
                0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
            background-color: #007ebd;
            margin-top: 17px;
            width: 86px;
            max-width: 100%;
            padding: 12px 16px;
            font: 700 14px/29px Inter, sans-serif;
        }

        @media (max-width: 991px) {
            .div-74 {
                white-space: initial;
            }
        }



        /* 按鈕樣式 */
        .btn{
            background-color: #007ebd;
            transition: .5s;
        }
         /* 按鈕hover樣式 */
        .btn:hover{
            background-color: #043c57; 
        }
    